name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    # Checkout repo (not used but required)
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Deploy to Azure VM
      uses: appleboy/ssh-action@v0.1.6
      with:
        host: ${{ secrets.AZURE_VM_IP }}
        username: ${{ secrets.AZURE_VM_USER }}
        key: ${{ secrets.AZURE_VM_SSH_KEY }}
        script: |
          PROJECT_DIR="/home/${{ secrets.AZURE_VM_USER }}/AcademicPro"

          # Clone if project folder not exists
          if [ ! -d "$PROJECT_DIR" ]; then
            git clone https://github.com/MiniduOshan/AcademicPro.git $PROJECT_DIR
          fi

          # Move inside project
          cd $PROJECT_DIR

          # Pull latest updates
          git pull origin main

          # Build Docker images
          docker build -t frontend:latest ./frontend
          docker build -t backend:latest ./backend

          # Stop and remove old containers
          docker stop frontend || true
          docker stop backend || true
          docker rm frontend || true
          docker rm backend || true

          # Run backend
          docker run -d --name backend -p 5000:5000 backend:latest

          # Run frontend
          docker run -d --name frontend -p 80:5173 frontend:latest
